html {
  scroll-behavior: smooth;
}

.img-avatar {
    max-height: 250px;
    max-width: 100%;
    object-fit: cover;
    object-position: 25% 25%;
  }

.information-div, .div-download {
  background-color: #86c1dd;
}

